﻿@{
    ViewData["Title"] = "Clarity 2.0 Test Interface";
}

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js" type="text/javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.min.js" type="text/javascript"></script>

<style>
    .container {
        width: 1400px;
    }
</style>

<div>
    <table>
        <tr>
            <td>
                <h2>Clarity 2.0 Test Interface</h2>
            </td>
            <td style="padding-left: 100px;">
                <table>
                    <tr>
                        <td>
                            <small><small>Identity:</small></small>
                        </td>
                        <td style="padding-left: 20px;">
                            <small><small id="identityLabel">---</small></small>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <small><small>Socket:</small></small>
                        </td>
                        <td style="padding-left: 20px;">
                            <small><small id="socketLabel">---</small></small>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <small><small>Heartbeat:</small></small>
                        </td>
                        <td style="padding-left: 20px;">
                            <small><small id="heartbeatLabel">---</small></small>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <small><small>Status:</small></small>
                        </td>
                        <td style="padding-left: 20px;">
                            <small><small id="statusLabel">NOT READY</small></small>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>

<table border="0" style="width: 1400px; margin-top: 30px;">
    <tr>
        <td style="padding-left: 10px;">
            <h4>
                Participants
            </h4>
        </td>
        <td style="padding-left: 10px;">
            <h4>
                Conferences
            </h4>
        </td>
        <td style="padding-left: 10px;">
            <h4>
                Events
            </h4>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td style="padding-left: 10px;">
                        <input type="text" class="form-control" id="loginInput" placeholder="Enter participant name" style="width: 200px;" />
                    </td>
                    <td style="padding-left: 10px;">
                        <a id="loginButton" class="btn btn-primary" href="javascript:void(0);" onclick="indemand.controllers.loginParticipant()">Login</a>
                        <a id="breakButton" class="btn btn-primary" href="javascript:void(0);" onclick="indemand.controllers.breakParticipant()" disabled>Break</a>
                        <a id="resumeButton" class="btn btn-primary" href="javascript:void(0);" onclick="indemand.controllers.resumeParticipant()" disabled>Resume</a>
                        <a id="logoutButton" class="btn btn-primary" href="javascript:void(0);" onclick="indemand.controllers.logoutParticipant()" disabled>Logout</a>
                    </td>
                </tr>
            </table>
        </td>
        <td style="padding-left: 10px;">
            <a id="newButton" class="btn btn-primary" href="javascript:void(0);" onclick="indemand.controllers.createConference();" disabled>Create</a>
            <a id="joinButton" class="btn btn-primary" href="javascript:void(0);" onclick="indemand.controllers.joinConference(indemand.invitedConferenceId);" disabled>Join</a>
            <a id="declineButton" class="btn btn-primary" href="javascript:void(0);" onclick="indemand.controllers.declineConference(indemand.invitedConferenceId);" disabled>Decline</a>
            <a id="leaveButton" class="btn btn-primary" href="javascript:void(0);" onclick="indemand.controllers.leaveConference();" disabled>Leave</a>
            <input type="checkbox" id="autoJoin" checked>
            <label for="autoJoin">Auto join</label>
            <input type="checkbox" id="distracted">
            <label for="distracted">+ distracted</label>
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: top;">
            <div id="participantsPlaceholder" class="container" style="width: 600px;">
            </div>
        </td>
        <td style="vertical-align: top;">
            <div id="conferencesPlaceholder" class="container" style="width: 500px;">
            </div>
        </td>
        <td>
            <textarea id="eventsArea" rows="16" cols="80"></textarea>
        </td>
    </tr>
</table>

<script id="participantsTemplate" type="text/x-handlebars-template">
    {{{printParticipants currentParticipants}}}
</script>

<script id="conferencesTemplate" type="text/x-handlebars-template">
    {{{printConferences currentConferences}}}
</script>

<script>
    function decodeParticipantState(participantState, toggleButtons) {
        switch (participantState) {
            case 0:
                if (toggleButtons) {
                    $('#loginButton').attr('disabled', false);
                    $('#breakButton').attr('disabled', true);
                    $('#resumeButton').attr('disabled', true);
                    $('#logoutButton').attr('disabled', true);
                    $('#newButton').attr('disabled', true);
                    $('#joinButton').attr('disabled', true);
                    $('#declineButton').attr('disabled', true);
                    $('#leaveButton').attr('disabled', true);
                }
                return 'Unknown';
            case 1:
                if (toggleButtons) {
                    $('#loginButton').attr('disabled', false);
                    $('#breakButton').attr('disabled', true);
                    $('#resumeButton').attr('disabled', true);
                    $('#logoutButton').attr('disabled', true);
                    $('#newButton').attr('disabled', true);
                    $('#joinButton').attr('disabled', true);
                    $('#declineButton').attr('disabled', true);
                    $('#leaveButton').attr('disabled', true);
                }
                return 'Offline';
            case 2:
                if (toggleButtons) {
                    $('#loginButton').attr('disabled', true);
                    $('#breakButton').attr('disabled', false);
                    $('#resumeButton').attr('disabled', true);
                    $('#logoutButton').attr('disabled', false);
                    $('#newButton').attr('disabled', false);
                    $('#joinButton').attr('disabled', true);
                    $('#declineButton').attr('disabled', true);
                    $('#leaveButton').attr('disabled', true);
                }
                return 'Online';
            case 3:
                if (toggleButtons) {
                    $('#loginButton').attr('disabled', true);
                    $('#breakButton').attr('disabled', true);
                    $('#resumeButton').attr('disabled', false);
                    $('#logoutButton').attr('disabled', false);
                    $('#newButton').attr('disabled', true);
                    $('#joinButton').attr('disabled', true);
                    $('#declineButton').attr('disabled', true);
                    $('#leaveButton').attr('disabled', true);
                }
                return 'OnBreak';
            case 4:
                if (toggleButtons) {
                    $('#loginButton').attr('disabled', true);
                    $('#breakButton').attr('disabled', false);
                    $('#resumeButton').attr('disabled', true);
                    $('#logoutButton').attr('disabled', false);
                    $('#newButton').attr('disabled', true);
                    $('#joinButton').attr('disabled', false);
                    $('#declineButton').attr('disabled', false);
                    $('#leaveButton').attr('disabled', true);
                }
                return 'Invited';
            case 5:
                if (toggleButtons) {
                    $('#loginButton').attr('disabled', true);
                    $('#breakButton').attr('disabled', true);
                    $('#resumeButton').attr('disabled', true);
                    $('#logoutButton').attr('disabled', true);
                    $('#newButton').attr('disabled', true);
                    $('#joinButton').attr('disabled', true);
                    $('#declineButton').attr('disabled', true);
                    $('#leaveButton').attr('disabled', false);
                }
                return 'InConference';
        }
    }

    function decodeConferenceState(conferenceStateByte) {
        var conferenceState = conferenceStateByte & 0x00FF;
        var conferenceSubState = conferenceStateByte & 0xFF00;

        switch (conferenceState) {
            case 0: conferenceState = 'Unknown'; break;
            case 1: conferenceState = 'AwaitingParticipants'; break;
            case 2: conferenceState = 'InProgress'; break;
            case 4: conferenceState = 'Finished'; break;
        }

        switch (conferenceSubState) {
            case 256: conferenceSubState = ' - Busy Signal'; break;
            default: conferenceSubState = ''; break;
        }

        return conferenceState + conferenceSubState;
    }

    function decodeConferenceParticipantState(conferenceParticipantState) {
        switch (conferenceParticipantState) {
            case 0: return 'Unknown';
            case 1: return 'Invited';
            case 2: return 'Disinvited';
            case 3: return 'Declined';
            case 4: return 'Joined';
            case 5: return 'Trouble';
            case 6: return 'Left';
        }
    }

    function setSocketState() {
        if (indemand.webSocket) {
            switch (indemand.webSocket.readyState) {
                case WebSocket.CLOSED:
                    $('#socketLabel').html('Closed');
                    indemand.ui.logEvent('Socket closed');
                    break;
                case WebSocket.CLOSING:
                    $('#socketLabel').html('Closing...');
                    indemand.ui.logEvent('Socket closing...');
                    break;
                case WebSocket.CONNECTING:
                    $('#socketLabel').html('Connecting...');
                    indemand.ui.logEvent('Socket connecting...');

                    break;
                case WebSocket.OPEN:
                    $('#socketLabel').html('Open');
                    indemand.ui.logEvent('Socket open');
                    break;
                default:
                    $('#socketLabel').html('Unknown WebSocket State: ' + indemand.webSocket.readyState);
                    indemand.ui.logEvent('Socket problem: ' + indemand.webSocket.readyState);
                    break;
            }
        }
    }

    Handlebars.registerHelper(
        'printParticipants',
        function (items) {
            if (items && items.length) {
                var html = '<ul style="padding-left: 10px; margin - bottom: 10px;">';

                items.forEach(
                    function (entry) {
                        var color = entry.participantId == indemand.participantId ? 'blue' : 'black';
                        html += '<li><font color="' + color + '">' + entry.participantId + ' - <b>' +
                            decodeParticipantState(entry.participantState, entry.participantId == indemand.participantId) + '</b></font></li>';
                    }
                );

                html += '</ul>';
                return html;
            } else {
                return 'No participants found';
            }
        }
    );

    Handlebars.registerHelper(
        'printConferences',
        function (items) {
            if (items && items.length) {
                var html = '<ul style="padding-left: 10px; margin - bottom: 10px; vertical-align: top;">';

                items.forEach(
                    function (entry) {
                        html += '<li><a href="javascript:void(0);" onclick="indemand.controllers.joinConference(\'' +
                            entry.conferenceId + '\')">' + entry.conferenceId + '</a><br/>' +
                            '<b>' + decodeConferenceState(entry.conferenceState) + '</b>';

                        entry.conferenceParticipantSummaries.forEach(
                            function (entry) {
                                var color = entry.participantId == indemand.participantId ? 'blue' : 'black';
                                html += '<br/><font color="' + color + '">' + entry.participantId + ' - ' +
                                    decodeConferenceParticipantState(entry.conferenceParticipantState) + '</font>';
                            }
                        );

                        html += '</li>';
                    }
                );

                html += '</ul>';
                return html;
            } else {
                return 'No conferences found';
            }
        }
    );
</script>

<script src="/js/indemand.js" type="text/javascript"></script>